<head>
    
	<link rel="stylesheet" href="./coding-rules.css">
	<link rel="stylesheet" href="/style.css">
	<script src="https://kit.fontawesome.com/59197de1dd.js" crossorigin="anonymous"></script>

<section>
    <h1>Afspraken code oplevering Mokhtar & Fatih</h1>
    <ul>
        <li>
            <h2>Maak gebruik van lazy loading om zware elementen te laden</h2>
            <h3>Voorbeeld code:</h3>
            <pre>
                <code>
                    &lt;!-- Lazy loading for images, iframes, scripts.
                    Probably for images outside of the viewport. --&gt;
                    &lt;img loading=&quot;lazy&quot; ... /&gt;
                    &lt;iframe loading=&quot;lazy&quot; ... /&gt;
    
                    &lt;!-- Prompt an early download of an asset.
                    For critical images, e.g. hero images. --&gt;
                    &lt;img loading=&quot;eager&quot; ... /&gt;
                    &lt;iframe loading=&quot;eager&quot; ... /&gt;
                </code>
                </pre>
            <p>Bronnen:</p>
            <p>https://www.smashingmagazine.com/2021/01/front-end-performance-2021-free-pdf-checklist/</p>
        </li>
    </ul>
</section>
</head>
